<?php $this->load->view('menu')?>

	<!-- Page Content -->
	<div class="container">

		<!-- Page Heading/Breadcrumbs -->
		<h1 class="mt-4 mb-3" style="text-align:center;">Labirinto dos Decimais</h1></br>

		<!-- Intro Content -->
		<div class="row">
			<div class="col-lg-12" style="text-align: justify;">
                <h4 class="card-title"><b>Materiais Necessários</b></h4>

                <div class="card h-100">
                    <img src="/assets/imagens/labirintodecimal/labirintodecimal.png">
                    <div class="card-body">
                        <a href="<?=base_url()?>Geral/labirintodecimal">Labirintos Decimais</a>
                    </div>
                </div>

				<p>
                    <ul>
                        <li>Um tabuleiro </li>
                        <li>Marcador</li>
                        <li>Folha de registro (Tabela)</li>
                    </ul>
                </p>

	<h4 class="card-title"><b>Objetivos do jogo</b></h4>
	<p>
        <ul>
            <li>Levantar informações sobre o conhecimento por parte dos jogadores em relação à <br>
                multiplicação, divisão por 10, 100, 100   e adição de números decimais;</li>
            <li>Estimular o Cálculo Mental</li>
            <li>Desenvolver Estrategias</li>
        </ul>
    </p>

    
	<h4 class="card-title"><b>Organização da classe</b></h4>
	<p>Duplas ou grupos com quatro alunos.
	</p>
    
	<h4 class="card-title"><b>Anos de aplicação</b></h4>
	<p>6o ano do Ensino Fundamental.</p>
    
	<h4 class="card-title"><b>Regras do jogo</b></h4>
	<p>
       <ul>
            <li>O jogo se inicia da seguinte forma: Os jogadores registram o número <br>
                100 em suas folhas de registro das jogadas;</li>
                <br>
            <li>
                Inicia o jogo tirando “par ou ímpar” ; a primeira dupla desloca, à sua<br>
                escolha, seu marcador da posição de ​ PARTIDA e efetua a operação<br>
                indicada no segmento percorrido, registrando o resultado em sua tabela
            </li>
            
            <li>O resultado representa seu total de pontos na jogada;</li>
            <li>
                Os jogadores não poderão voltar em uma operação já efetuada pelos
                mesmos, isto é, deverão se deslocar apenas para frente ou para o lado
                (na direção da ​ CHEGADA​ ).
            </li>
           
            <li>
                A segunda dupla jogadora faz o mesmo, iniciando sua jogada com o
                valor 100 e movendo seu marcador;
            </li>
            
            <li>
                O jogo continua sucessivamente utilizando o valor de pontos da jogada
                anterior para efetuar o novo cálculo;
            </li>
        
            <li>
                Todas as jogadas devem ser registradas.
            </li>

       </ul>
        <div >
            <figure>
                <img  src="/assets/imagens/labirintodecimal/regdasjogadas.png" alt="Regra das jogadas"> 
            </figure>
        </div>	
	</p>


	<h4 class="card-title"><b>Orientação aos alunos quanto às regras</b></h4>

    <p>
        <ol>
            <li>Após se organizarem em grupo, decide-se quem irá começar o jogo.</li><br>
            <li> Todos devem começar a partida no número 100.</li><br>
            <li>Não pode voltar pelo mesmo caminho que percorreu, podendo somente<br>
                    andar pelos lados, para frente e rumo a chegada.</li><br>
            <li>
                O jogo termina quando um dos jogadores ou uma dupla alcançar a<br>
                posição ​ CHEGADA, porém este não necessariamente será o ganhador.<br>
                O ganhador será aquele que tiver o ​ menor número de pontos.</li>
        </ol>

    </p>
	
    <h4 class="card-title"><b>Problematizaçoes</b></h4>
    <ol>
        <li>
            Se suas possibilidades de escolha em uma jogada fossem: + 2,7; +<br>
            0,001 ou + 0,01, qual você escolheria? Por quê?
        </li>
        <li>
            Através de uma jogada você conquistou o número 58,6. Suas<br>
            possibilidades para próxima jogada são: × 10; ÷ 100; × 100 ou ÷ 1000.<br>
            Qual você elegeria? Por quê?    <br>
        </li>
        <li>
            Você obteve 9,029 pontos na última rodada. O marcador está na<br>
            posição indicada no tabuleiro ao lado. Decida qual operação precisa<br>
            realizar para obter:<br>
            <ol type="a">
                <li>90,29 pontos:</li>
                <li>902,9 pontos:</li>
                <li>9029 pontos:</li>
            </ol>
        </li>
        <br>
        <li>
            Você tem 141,6 pontos no total e seu oponente, 14,2 pontos, de acordo<br>
            com a figura ao lado. Você é o próximo a jogar. Vale a pena terminar o<br>
            jogo? Por quê?
        </li>
        <li>
                Ao iniciar o jogo é mais vantajoso multiplicar por 0,09 ou 0,009? Por que?
        </li>
        <li>
            Durante o jogo você percebeu algum caminho que faria você ganhar<br>
            primeiro que seu adversário? Se sim, cite o caminho descrevendo as<br>
            operações que faria
        </li>
    </ol>
    
    <br>
    <div class="container">
        <h6>Profa. Dra. Luciana Vanessa de Almeida Buranello.</h6>
        <h6>5o Período do Curso de Licenciatura em Matemática</h6>
        <h6>IFSULDEMINAS – Campus Passos.</h6>			
        <br><br>
    </div>


    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-default rodape">
        <div class="container">
            <p class="m-0 text-center text-white">Todos os direitos reservados© </br>
                Laboratório Virtual de Educação Matemática - LAVEM</br>
                IFSULDEMINAS Campus Passos - 2018 </p>
        </div  >
        <!-- /.container -->
    </footer>

<!-- Bootstrap core JavaScript -->

</body>

</html>
